@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap'); /* imports open sans font */

#sidenav {
  position: fixed;
  width: 250px;
  height: 100%;


  background: #393B41;
  /* box-shadow: 2px 1px 9px 1px #000000; */
}

#sidenav-title {
  position: absolute;
  left: 20px;
  top: -20px;

  color: #fff;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  line-height: 48px;
  text-align: center;
}

#sidenav-list {
  position: absolute;
  width: 143px;
  height: 22px;
  top: 142px;
  margin-top: -25px;

  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  text-align: center;
}

#active {
  color: #35363C;
  background: #6C9FF8;
  border-radius: 35px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

li {
  margin-top: 45px;
  color: white;
}

a {
  color: #fff;
  text-decoration: none;
}

li:active {
  color: #B4E2FC;
}

li:hover {
  color: #B4E2FC;
  cursor: pointer;
}

li:visited {
  color: inherit;
}

li:visited:hover {
  color: #B4E2FC;
}

#sidenav-title {
  position: absolute;
  left: 20px;
  top: -20px;
}

#add-funds {
  background: #6C9FF8;
  position: absolute;
  top: 700px;
  width: 150px;
  padding: 20px;
  border-radius: 0px 35px 35px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#add-funds-link {
  margin-left: 40px;
  color: #35363C;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

#add-funds-link:hover {
  color: #B4E2FC;
  cursor: pointer;
}

#add-funds-link:visited:hover {
  color: #B4E2FC;
  cursor: pointer;
}

.fa {
  padding-right: 8px;
}

/* The Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#modal-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Modal Content */
.modal-content {
  display: block;
  position: relative;
  color: #fff;
  background-color: #242529;
  margin: 5% auto;
  padding: 20px;
  border: 0.5px solid #000;
  width: 60%;
  height: 60%;
  opacity: 0.98;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation-name: move-from-top;
  animation-duration: 0.3s;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#modal-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-left: 5px;
}

.modal-text {
  width: 80%;
  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

#modal-account-balance {
  background: #35363c;
  display: flex;
  order: 1;
  padding: 10px;
  width: 80%;
  height: 25%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#money-form {
  margin-left: 20px;
  background: #35363C;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
}

#money-form:focus {
  outline: none;
  box-shadow: 0 0 0 1px #35363C;
}

/* Modal Animation */
@keyframes move-from-top {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#buttons-modal {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-left: 22px;
}

#info-box {
  width: 400px;
  margin-top: -7.5%;
}

.info-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
}

.funds {
  color: #35363c;
  border-radius: 10px;
  width: 25%;
  margin: 5px;
  padding: 5px;
  background: #6C9FF8;
  cursor: pointer;
}

.funds:hover {
  background:  #6299f7;
}

#info-text {
  font-size: 14px;
  font-style: italic;
  color: #8c8c8c;
  font-family: 'Open Sans', sans-serif;
}

.blur {
  position: fixed;
  filter: blur(5px);
  left: 0;
  right: 0;
  top: 0;
}
