@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap'); /* imports open sans font */

.login {
  margin: 10%;
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  background: #393B41;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcome {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-align: left;

  line-height: 54px;
  color: #fff;
  margin-bottom: -2%;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  text-align: left;
  color: #fff;
}

.welcomeMsg {
  margin-left: 3%;
  text-align: left;
  color: #B8B9BD;
}

.lgnTxtFlds {
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.txtFld {
  flex: 0 0 auto;
  display: inline-block;
  width: 90%;
}

.lgnBtn {
  margin-left: 3%;
}
