@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
/* imports open sans font */
#main {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  margin: 0 auto;
  z-index: 2;
}


#fundsAvialable {
  width: 100%;
  outline: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

#trade-container {
  position: relative;
  color: #fff;
  width: 40%;
  height: 40%;
  margin: 1% auto;

}

#holding-container {
  width: 40%;
  float: right;
  margin: 1% auto;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#orders-container {
  width: 40%;
  margin-top: -20%;
  float: right;
  margin-right: 4%;
  height: 40%;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#account-container {
  width: 50%;
  margin: 2% auto;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#searchBtn {
  margin: 4% auto;
  margin-left: 20px;
  height: 3em;
  cursor: pointer;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #000000;
  background-color: aliceblue;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

#searchBtn:hover {
  text-shadow: 0 0 2em white;
  color: #FFFFFf;
  border-color: #FFFFFF;
  background: royalblue;
}

#searchBtn:active {
  background: #B4E2FC;
}

.buyBtn {
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.buyBtn:hover {
  text-shadow: 0 0 2em white;
  color: #FFFFFf;
  border-color: #FFFFFF;
  background: darkgreen;
}

.buyBtn:active {
  background: #2ed47a;
}

.sellBtn {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.sellBtn:hover {
  text-shadow: 0 0 2em white;
  color: #FFFFFf;
  border-color: #FFFFFF;
  background: darkred;
}

.sellBtn:active {
  background: indianred;
}

#CompleteTransactionBtn {
  width: 40%;
  height: 5em;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border-radius: 0.8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: aliceblue;
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

#CompleteTransactionBtn:hover {
  text-shadow: 0 0 2em white;
  color: #FFFFFf;
  border-color: #FFFFFF;
  background: royalblue;
}

#CompleteTransactionBtn:active {
  background: cornflowerblue;
}


#stock-list {
  padding: 0.5em 1em 0.5em 1em;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  list-style-type: none;
  background: #393b41;
}

.stock-holding {
  color: #FFFFFf;
  text-align: center;
  outline: #fff;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h4{
  color: #fff;
}

/*# sourceMappingURL=trading.css.map */
