@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
    background: #e2eaf2;
}









/*left side*/

#container-left {
    position: absolute;
    justify-content: space-around;
    width: 601px;
    height: 806px;
    left: 199px;
    top: 94px;
    margin: 15px;
}

#account-container{
    width: 80%;
    height: 5%;
    margin: auto;
    background: #393b41;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 15px;
}

#balance-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    padding-top: 15px;
    margin-left: 10%;
    margin-top: 5%;
}

#total-balance{
    width: 25%;
    height: 40%;
}

#investment{
    width: 25%;
    height: 40%;
}

#cash-balance{
    width: 25%;
    height: 40%;
}

#asset-allocation-container{
    width: 100%;
    height: 70%;
    background: #393b41;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
    padding-top: 15px;
}









/*right side*/


#container-right{
    position: absolute;
    justify-content: space-around;
    width: 601px;
    height: 806px;
    left: 840px;
    top: 94px;
    margin: 15px;
}

#username{
    width: 100%;
    height: 15%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    margin-top: 10%;

    color: #6c9ff8;
}

#option-container {
    width: 100%;
    height: 5%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

#table-container{
    width: 100%;
    height: 50%;
    margin-top: 15%;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
    padding-top: 15px;
}











.title{
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.title-small{
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.text{
    font-size: 14px;
    font-style: normal;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.text-box{
    width: 119px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background: #393b41;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;

    font-size: 14px;
    font-style: normal;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.option-box{
    width: 225px;
    height: 40px;
    margin-left: 10%;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #393b41;
    font-family: 'Open Sans', sans-serif;
}

.stock-list{

}

