body {
    background: #e2eaf2;
}

#account-container{
    position: absolute;
    left: 225px;
    top: 20%;
    width: 40%;
    height: 8%;
    background: #C4C4C4;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    padding-left: 40px;
    padding-top: 20px;
}

#asset-allocation-container{
    position: absolute;
    left: 225px;
    top: 40%;
    width: 40%;
    height: 50%;
    background: #C4C4C4;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    padding-left: 40px;
    padding-top: 20px;
}

#username-container{
    position: absolute;
    left: 750px;
    top: 18%;
    width: 40%;
    height: 8%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    text-align: center;

    color: #6c9ff8;
}

#drop-down-box{
    position: absolute;
    left: 850px;
    top: 40%;
    width: 40%;
    height: 8%;
    background: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    padding-left: 40px;
    padding-top: 20px;
}
