@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap'); /* imports open sans font */

body {
  background: #e2eaf2;
}

h3 {
  font-size: 18px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-around;
  width: 1203px;
  height: 806px;
  left: 199px;
  top: 94px;
  margin: 15px;
}

#chart-container {
  width: 50%;
  height: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#account-container {
  display: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  height: 25%;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  position: relative;
  top: -400px;
}

#news-container {
  position: relative;
  left: 10px;
  width: 50%;
  height: 100%;
  background: #393b41;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

}

#controls-container {
  width: 50%;
  height: 0%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#account-balance {
  display: flex;
  margin-top: 20px;
  /* margin-left: 10px; */
  order: 1;
  width: 100%;
  background: #393b41;
  height: 25%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#account-growth {
  display: flex;
  margin-top: 20px;
  /* margin-left: 10px; */
  order: 2;
  width: 100%;
  background: #393b41;
  height: 25%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.text {
  width: 80%;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

#money {
  width: 20%;
}

.fa-chevron-up {
  color: #2ED47A;
}

.news-icon {
  width: 25%;
  border-radius: 5px 0px 0px 5px;
  height: 100%;
}

.news-item {
  background: #35363C;
  height: 80px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  color: #fff;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

#news-title {
  position: relative;
  margin-left: 5px;
}

#news-desc {
  position: relative;
  font-size: 12px;
  margin: 5px;
}

#news-source {
  position: relative;
  font-size: 14px;
  color: #fff;
  margin: 5px;
}

#image-container {
  width: 20%;
}

.text-container {
  width: 70%;
}

.news-item:hover {
  position: relative;
  left: 10px;
  cursor: pointer;
}
